<div class="example-action-buttons">
  <button mat-button (click)="toggleAccordion()">Create heroe</button>
</div>
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Heroe data </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="heroe.nameLabel" required/>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Creator</mat-label>
      <input matInput [(ngModel)]="heroe.creatorLabel" required/>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Country</mat-label>
      <input matInput [(ngModel)]="heroe.citizenshipLabel" required/>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Gender</mat-label>
      <mat-select [(ngModel)]="heroe.genderLabel" required>
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Member of</mat-label>
      <input matInput [(ngModel)]="heroe.memberOfLabel" required/>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Occupation</mat-label>
      <input matInput [(ngModel)]="heroe.occupationLabel" required/>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Skills</mat-label>
      <input matInput [(ngModel)]="heroe.skillsLabel" required/>
    </mat-form-field>
    

    <div class="button-container">
      <button mat-raised-button color="primary" class="create-button" [disabled]="!isFormValid()" (click)="createHeroe()">Submit</button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
