<app-bar-chart
  [data]="chartData"
></app-bar-chart>
<table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
       class="mat-elevation-z8">

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="onEdit(element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="onDelete(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>      

  <ng-container matColumnDef="nameLabel">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
      Name
    </th>
    <td mat-cell *matCellDef="let element"> {{element.nameLabel}} </td>
  </ng-container>

  <ng-container matColumnDef="creatorLabel">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
      Creator
    </th>
    <td mat-cell *matCellDef="let element"> {{element.creatorLabel}} </td>
  </ng-container>

  <ng-container matColumnDef="citizenshipLabel">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
      Country
    </th>
    <td mat-cell *matCellDef="let element"> {{element.citizenshipLabel}} </td>
  </ng-container>

  <ng-container matColumnDef="genderLabel">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
      Gender
    </th>
    <td mat-cell *matCellDef="let element"> {{element.genderLabel}} </td>
  </ng-container>

  <ng-container matColumnDef="memberOfLabel">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
      Member of
    </th>
    <td mat-cell *matCellDef="let element"> {{element.memberOfLabel}} </td>
  </ng-container>

  <ng-container matColumnDef="occupationLabel">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
      Occupation
    </th>
    <td mat-cell *matCellDef="let element"> {{element.occupationLabel}} </td>
  </ng-container>

  <ng-container matColumnDef="skillsLabel">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
      Skills
    </th>
    <td mat-cell *matCellDef="let element"> {{element.skillsLabel}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;" (click)="openHeroeModal(row, $event)"></tr>
</table>
